
body {
  background: url('/img/bg.png') repeat;
  line-height: 34px;
  letter-spacing: 0.08px;
}

h1 {
  line-height: 48px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  line-height: 1.6; //1.95;
  letter-spacing: 0.07em;
  @extend .mb-4;
}

h4 {
  text-transform: uppercase;
  line-height: 1.95;
  letter-spacing: 0.07em;
  @extend .mb-4;
}


a {
  border-bottom: 2px solid #ffffff00;
  transition: all 340ms;

  &:hover {
    border-bottom: 2px solid $gray-900;
    transition: all 340ms;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}


.pagination {
  border-radius: 0;
  @extend .bg-white;

  .page-item {
    @extend .p-3;

    .page-link {
      border: none;
      &:hover{
        text-decoration: underline;
        background-color: inherit;
      }
    }
  }
}


main {

  @media (min-width: 576px) {
    h1, h2, h3, p, code, ul, ol {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  @media (min-width: 768px) {
    h1, h2, h3, p, code, ul, ol {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }

  @media (min-width: 768px) {
    h1, h2, h3, p, code, ul, ol {
      margin-left: 7rem;
      margin-right: 7rem;
    }
  }

  @media (min-width: 992px) {
    h1, h2, h3, p, code, ul, ol {
      margin-left: 9.55rem;
      margin-right: 9.55rem;
    }
  }

  pre {
    background-color: #fdf6e3;
    position: relative;
    font-size: 87.5%;
    line-height: 1.5;
    margin-bottom: 1rem!important;
    padding: 0!important;
    border-radius: 0!important;

    code {
      display: block;
      @extend .py-4;
    }
  }

  img{
    max-width: 100%;
    object-fit: cover;
  }

  blockquote {
    background-color: #ebebed54;
    @extend .py-5;
    font-size: inherit;
    line-height: 2em;
  }


  h1 {
    line-height: 60px;
    letter-spacing: 0.24px;
    @extend .mb-0;
    @extend .p-5;
    @extend .text-center;
  }

  h2 {
    letter-spacing: 0.18px;
    line-height: 60px;
    @extend .text-center;
    @extend .p-5;
    @extend .mb-0;
  }

  h3 {
    letter-spacing: 0.15px;
    line-height: 48px;
  }

  p,li {
    letter-spacing: 0.08px;

    code {
      margin: 0;
      background: #ebebed;
    }

    a {
      color: $indigo;
    }
  }
}