.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-line {
  width: 7.5em;
  top: 0;
  bottom: 0;
  left: 2em;
  @extend .position-absolute;
  @extend .h-100;
}

.vertical-line-center {
  width: 7.5em;
  top: 0;
  bottom: 0;
  left: calc(50% - (7.5em / 2));
  @extend .position-absolute;
  @extend .h-100;
}